/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 203 100% 98%;
    --foreground: 218 48% 12%;

    --card: 0 0% 100%;
    --card-foreground: 218 48% 12%;

    --popover: 200 76% 98%;
    --popover-foreground: 222 56% 16%;

    --primary: 213 88% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 182 62% 92%;
    --secondary-foreground: 219 56% 18%;

    --muted: 210 36% 92%;
    --muted-foreground: 213 26% 38%;

    --accent: 188 75% 65%;
    --accent-foreground: 215 52% 14%;

    --destructive: 358 84% 57%;
    --destructive-foreground: 0 0% 100%;

    --border: 206 53% 87%;
    --input: 206 53% 87%;
    --ring: 213 88% 56%;

    --radius: 0.75rem;

    --sidebar-background: 202 72% 97%;

    --sidebar-foreground: 222 56% 16%;

    --sidebar-primary: 213 88% 56%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 188 75% 65%;

    --sidebar-accent-foreground: 218 48% 12%;

    --sidebar-border: 205 52% 85%;

    --sidebar-ring: 188 75% 65%;
  }

  .dark {
    --background: 222 50% 10%;
    --foreground: 188 100% 96%;

    --card: 216 33% 16%;
    --card-foreground: 188 100% 96%;

    --popover: 218 34% 14%;
    --popover-foreground: 188 100% 96%;

    --primary: 196 100% 63%;
    --primary-foreground: 216 33% 16%;

    --secondary: 190 63% 24%;
    --secondary-foreground: 188 100% 96%;

    --muted: 215 28% 22%;
    --muted-foreground: 189 75% 78%;

    --accent: 188 69% 38%;
    --accent-foreground: 188 100% 96%;

    --destructive: 2 70% 46%;
    --destructive-foreground: 188 100% 96%;

    --border: 215 28% 24%;
    --input: 215 28% 24%;
    --ring: 196 100% 63%;
    --sidebar-background: 222 47% 12%;
    --sidebar-foreground: 188 100% 96%;
    --sidebar-primary: 196 100% 63%;
    --sidebar-primary-foreground: 216 47% 12%;
    --sidebar-accent: 190 63% 24%;
    --sidebar-accent-foreground: 188 100% 96%;
    --sidebar-border: 210 25% 26%;
    --sidebar-ring: 196 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
